.Color__button {
  border: none;
}

.Color__button--active {
  padding: 2px;
  border: 1px solid #5ece7b;
}

.Capacity__button--active,
.USB__button--active,
.TID__button--active,
.Size__button--active {
  background-color: black;
  color: white;
}
